.navbar{
    background: #298A08;
}
.quem-somos{
    background-color: #8181F7;
}
.margin{
        padding-top: 30px;
        padding-bottom: 50px;
}
.bg-footer{
    background-color: black;
    color: blanchedalmond;
}
    

